<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150312175762-m0s5p0nfg135d2ch007is7mpanpua60t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150312175762-m0s5p0nfg135d2ch007is7mpanpua60t</string>
	<key>API_KEY</key>
	<string>AIzaSyDuze28b2YgIUdYu3mK1hI6vW_CVeIQA6I</string>
	<key>GCM_SENDER_ID</key>
	<string>150312175762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nebular.jetpack</string>
	<key>PROJECT_ID</key>
	<string>jetpacker-6220648</string>
	<key>STORAGE_BUCKET</key>
	<string>jetpacker-6220648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150312175762:ios:72dceb9d8a4e40c6</string>
	<key>DATABASE_URL</key>
	<string>https://jetpacker-6220648.firebaseio.com</string>
</dict>
</plist>